.index-page

  .main
    max-width 1280px
    margin 0 auto
    display flex
    flex-direction column
    justify-content space-between
    height 745px
    background-image url('../img/content/bg.jpg')
    padding-top 40px
    padding-bottom 20px

    .menu
      display flex
      justify-content space-between
      align-items flex-end
      width 760px
      margin 0 auto

      &__item
        letter-spacing 2.3px
        color white
        font-weight bold
        text-transform uppercase
        transition opacity linear .3s

        &:hover
          opacity .7

        &_icon
          width 135px
          padding-left 50px

    .data
      text-align center
      padding-top 18px

      &__text
        font-size 36px
        color white
        font-weight bold
        text-transform uppercase
        letter-spacing 5.3px
        margin-bottom 6px

      &__descr
        color white
        font-size 16px
        font-weight bold
        text-transform lowercase
        letter-spacing 2.5px
        margin-bottom 23px

    .social
      display flex
      justify-content center

      &__item
        color white
        font-size 23px
        padding 0 8px
        transition opacity linear .3s


        &:hover
          opacity .7

  .second
    position relative
    padding-top 110px
    padding-left 130px
    padding-bottom 90px
    background-color gray_light
    z-index 0

    &__back
      z-index -1
      position absolute
      bottom 0
      right 128px
      width 634px
      height 401px
      background-image url('../img/content/iphone-hand.png')
      background-size 100%
      background-repeat no-repeat

    &__heading
      margin-bottom 40px



    &__text
      margin-bottom 40px

  .third
    display flex
    justify-content space-between
    max-width 1280px
    margin 0 auto
    padding 142px 50px 0 124px

    &__pic
      margin-top 3px

    .data
      width 464px

      &__heading
        margin-bottom 34px

      &__text
        margin-bottom 33px

        p
          line-height 23px

      &__item
        outline none

      &__slider
        margin-bottom 40px

        & > button
          display none !important

      &__count
        font-size 12px
        line-height 19px
        letter-spacing 1.8px
        font-weight bold

        .arrows
          display flex
          font-size 24px

          &__item
            cursor pointer
            margin-right 20px

            &:last-child
              margin-right 0


  .fourth
    max-width 1280px
    margin 0 auto
    background gray_light
    margin-bottom 300px
    padding 90px 129px 120px 129px

    .arrows
      display flex
      justify-content flex-end
      font-size 24px

      &__item
        cursor pointer
        margin-right 20px

        &:last-child
          margin-right 0

    &__slider

      & > button
        display none !important

    &__photo
      margin-right 24px
      outline none