footer
    .footer
        .footer__item
            .footer__links.links
                .links__item
                    a(href='#') Credits
                .links__item
                    a(href='#') Privacy
                .links__item
                    a(href='#') Our teams
            .footer__copyright
                span Copyright by phototime - all rights reserved
        .footer__item
            .footer__img
                a(href='#')
                    img(src='static/img/general/camera-green.png' alt='Photoapp')