extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	div.main
		.main__menu.menu
			.menu__item
				a(href='#') Home
			.menu__item
				a(href='#') Photoapp
			.menu__item.menu__item_icon
				a(href='#')
					img(src='static/img/general/camera.png' alt='Photoapp logo')
			.menu__item
				a(href='#') Design
			.menu__item
				a(href='#') Download
		.main__content.data
			.data__text
				span your life , a photo
			.data__descr
				span print your life in a simple photo
			.data__btn
				a(href='#').btn Get started
		.main__social.social
			.social__item
				a(href='#')
					i.fab.fa-twitter
			.social__item
				a(href='#')
					i.fab.fa-flickr
			.social__item
				a(href='#')
					i.fab.fa-dribbble
	section.second
		.second__back
		.second__heading
			h2
				| Rappresent your life with a
				br
				| simple photo
		.second__text
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				br
				| sed do eiusmod tempor incididunt ut labore et dolore
				br
				| magna aliqua. Ut
				|
				strong enim ad minim
				|
				| veniam, quis
				br
				|nostrud exercitation ullamco laboris nisi
				br
				|ut aliquip ex ea commodo consequat.
		.second__btn
			a(href='#').btn.btn_big Get started
	section.third
		.third__pic
			img(src='static/img/content/iphone5c.png' alt='iPhone 5c')
		.third__data.data
			.data__slider
				.data__item
					.data__heading
						h2 Design
					.data__text
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							br
							| sed do eiusmod tempor incididunt ut labore et dolore
							br
							| magna aliqua. Ut
							|
							strong enim ad minim
							|
							| veniam, quis
							br
							| nostrud exercitation ullamco laboris nisi
							br
							| ut aliquip ex ea commodo consequat.
					.data__btn
						a(href='#').btn.btn_cornered.btn_big Learn more









			.data__count
				span 01/05
				span < >


