.btn
  display inline-block
  background-color green
  transition opacity linear .3s
  font-size 12px
  color white
  text-transform uppercase
  padding 17px 30px
  border-radius 3px
  font-weight bold
  letter-spacing 1.8px
  border none
  cursor pointer

  &:hover
    opacity .7

  &_big
    padding 18px 43px

  &_cornered
    border-radius 0

  &_download
    background-color green_light
    width 240px
    font-size 16px
    letter-spacing 2.4px
    text-align left
    padding 22px 25px 15px 25px
    border-top-right-radius 0
    border-bottom-right-radius 0
