.footer
  display flex
  flex-direction row
  justify-content space-between
  max-width 1280px
  margin 0 auto
  padding 43px 128px 40px

  &__links
    display flex
    margin-bottom 18px

  .links

    &__item
      color gray
      font-size 14px
      letter-spacing 2.1px
      font-weight bold
      text-transform uppercase
      margin-right 7px

      &:last-child

        &::after
          content none


      &::after
        content '|'
        color green
        margin-left 7px

  &__copyright
    color gray
    font-size 14px
    font-weight bold
    letter-spacing 2.1px